{% extends 'all-task/base.html' %} {% block content %} {{block.super}}
{% load bootstrap3 %}
{% load static %}

<div class="container-fluid" style= "font-size:300%";></div>
    <!-- displaying images -->
    <div class="row">
        {% for projects in task %}

        <div class="col-md-3">
            <!-- modal button-->
            <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal{{post.id}}">
                <img src="{{projects.image.url }}" alt="" width="250" height="250">
            </button>
            <br>
            <!-- modal -->
        </div>
        {% endfor %}
    </div>
</div>
{% for projects in task %}
<!-- modal content -->
<div class="modal fade" id="myModal{{post.id}}" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h2>{{ projects.name }}</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img src="{{projects.image.url }}" alt="" width="500" height="500">
                <h4 class="modal-title">{{ projects.description }}</h4>
            </div>

        </div>
    </div>
</div>
{% endfor %}
 
{% endblock %}