{%extends 'all-task/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block styles%}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/basetask.css' %}">

 <!-- <link href="https://fonts.googleapis.com/css?family=Boogaloo|Fredoka+One|Lalezar|Patrick+Hand" rel="stylesheet">  -->
{% endblock %}



{% block content %}
<div class="container-fluid">
  {% for project in projects %}
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="well">
      <div class="item">
        <img src="{{projects.url}}" class="img-responsive"><p class="view">View Project</p>
      </div>
      <br>
  <p class="caption">{{projects.caption}}</p>
  {% if projects.profile.profile_pic %}
  <a href="/user/{{projects.user_id}}"><p class="user"> <img src="{{projects.profile.profile_pic.url}}" id="me"> By {{projects.user.username}}</p></a>
 
   {%else%}
   <!-- <a href="/user/{{projects.user_id}}"><p class="user"> <img src="" id="me"> By {{projects.user.username}}</p></a> -->
    {% endif %}
      </div>
  </div>

  {% endfor%}
</div>
{% endblock%}

{% block scripts %} {{block.super}}
  <script type="text/javascript" src="{%static 'js/newsletter.js'%}"></script>
{% endblock %}
